#menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 2em;
	background-color: lightgray;
}

#mapRoot {
	position: fixed;
	top: 2em;
	left: 0;
	right: 0;
	bottom: 0;
}

#mapRoot .node {
	position: absolute;
	
}