.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  width: 100vw;
  min-height: 100vh;
}

.menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: lightgray;
	width: 100vw;
}

.dungeonDisplay {
	background-color: #ccc;
	flex-grow: 1;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.dungeonDisplay > canvas {
	background-color: white;
	outline: solid 5px #666;
}